{% extends 'base.html' %}
{% block title %}Inicio App{% endblock %}
{% block content %}
<h1>¡¡VISTA 1 APP2 !!</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores mollitia voluptates sapiente doloribus tenetur necessitatibus odio deleniti eligendi. Deserunt obcaecati voluptatibus, numquam exercitationem fuga temporibus reiciendis voluptas unde tenetur quidem.
Assumenda ea id iusto at expedita pariatur error, ipsa debitis culpa mollitia officiis enim temporibus, possimus, iure amet fugiat doloribus? Dolorem facilis ullam omnis iusto mollitia deserunt officiis! Itaque, tenetur.
Velit similique sint voluptatibus eius sed facere, praesentium eveniet autem enim quam ducimus. Hic quibusdam assumenda reiciendis ut eius. Accusamus ipsam eveniet distinctio laboriosam, sint quod quidem minus deleniti officiis!
Quibusdam quam beatae eaque, molestias magni nam cumque labore! Accusamus nobis facilis repellendus nisi delectus doloribus quod qui aliquid harum sed tempore eligendi, excepturi optio reprehenderit neque eos velit exercitationem.
Quod nihil dignissimos architecto atque, perspiciatis error consequuntur, distinctio soluta exercitationem corporis, sequi quibusdam? Provident at, facere aspernatur assumenda voluptate enim optio aliquam quos eveniet quis deleniti culpa velit suscipit!
Tempora distinctio porro fugit alias aperiam, magni cumque cupiditate impedit deleniti a. Beatae neque, quisquam, dolorum a, ab facere fuga dolorem ea obcaecati ex molestiae facilis vero dolore repudiandae? Fugit.
Deserunt impedit quo sint explicabo? Libero a odit illum velit vitae labore adipisci, alias deserunt illo ipsa. Quis, quas optio libero commodi nulla quibusdam, porro et error dignissimos nostrum voluptatum!
Consectetur facilis est esse neque. Nesciunt nobis, atque corporis voluptas labore expedita tempore sequi vitae. Aut quae impedit nam vero sit mollitia corrupti pariatur sunt voluptas dignissimos veniam, quis natus!
Saepe ex incidunt, minima possimus necessitatibus vero totam neque unde ratione, expedita blanditiis ullam aperiam amet aliquid pariatur consequatur eveniet excepturi! Rerum blanditiis doloribus asperiores, similique harum consequuntur mollitia placeat.
Esse laborum provident, nemo architecto ducimus voluptates debitis eligendi expedita, necessitatibus illo accusantium et, a veniam? Odit expedita possimus amet aliquid rerum deleniti reiciendis eligendi, officiis alias ipsum dolores iste.
</p>
{% endblock %}